.main-container{
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    margin: 1em auto;
    align-items: flex-start;
    width: 95%;
    border: 2px solid black;
    gap: 1em;
    /* flex-wrap: wrap; */
}

@media screen and (max-width: 850px) {
    .main-container{
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
}

@media screen and (max-width: 500px) {
    .main-container{
        width: 98%;
    }
}