.row-container{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0.3em;
    flex-wrap: wrap;
    gap: 0.5em;
}
.row-container> .no-data{
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin-top: 50px;
}
.row-container> thead > td{
    font-size: 18px;
}
.row-container> tbody> tr>  td{
    font-size: 18px;
}

@media screen and (max-width: 600px) {
    .row-container> thead > td{
        font-size: 15px;
    }
    .row-container> tbody> tr>  td{
        font-size: 15px;
    }
}
@media screen and (max-width: 500px) {
    .row-container> thead > td{
        font-size: 12px;
    }
    .row-container> tbody> tr>  td{
        font-size: 12px;
    }
}