.card-container{
    min-width: 250px;
    max-width: 250px;
    /* display: flex; */
    border: 2px solid black;
    border-radius: 10px;
    /* box-shadow: 0.1em 0.1em 0.9em; */
    padding: 0.3em;
    flex-direction: column;
    position: relative;
}
/* .card-container .child{
    width: 90%;
    margin: 0.2em auto;
    padding: 0.2em;
} */
/* .card-container .title{
    width: 90%;
} */
/* .card-container .title>p{   
    font-size: 1.4em;
    padding: 0.2em;
    font-weight: bold;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
} */
/* .card-container .description {
    width: 95%;
} */
/* .card-container .description>p{
    font-size: 1.2em;
    margin: auto;
    width: 90%;
    padding: 0.3em;
    text-align: justify;
} */
/* .card-container .creator {
    width: 90%;
    display: flex;
    justify-content: space-between;
} */
/* .card-container .creator>p{
    font-size: 0.9em;
    font-family: 'Times New Roman', Times, serif;
    padding: 0.2em;
    font-weight: bold;
} */
.card-container .button {
    background-color: rgb(215, 254, 255);
}
.card-container .button:hover{
    background-color: rgb(187, 223, 255);
}

.card-container .button >i{
    background-color: antiquewhite;
    padding: 0.1em;
    font-size: 1.3em;
    cursor: pointer;
    border-radius: 8px;
    background-color: rgb(248, 244, 240);
}

